/* Add your custom CSS here */

.table-hover tbody tr:hover {
    cursor:pointer;
    
}
.data-selected {
    background-color: yellowgreen;
}

.list-group:hover {
    cursor: pointer;
}

.list-selected {
    background-color: yellowgreen;
}

  
